<phpunit
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/5.0/phpunit.xsd"
	bootstrap="./cli_phpunit.php"
	colors="false"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	stopOnFailure="false">
	<php>
		<ini name="memory_limit" value="2048M"/>
	</php>
</phpunit>